jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=ca.rmen.android.poetassistant
testPackageName=ca.rmen.android.poetassistant.main
compiledPackageName=ca.rmen.android.poetassistant.test
compiledTestPackageName=ca.rmen.android.poetassistant.test.test
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/ca.rmen.android.poetassistant/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/ca.rmen.android.poetassistant/app/src/androidTest/java/ca/rmen/android/poetassistant/main/
